.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 50%;
  padding: 0.5rem;
  margin-top: 0.33rem;
  border-radius: 0.5rem;
  border-color: black;
}

.form button {
  padding: 0.5rem;
  margin-top: 0.33rem;
  margin-left: 0.25rem;
  color: black;
  background-color: rgb(46, 170, 170);
  border-radius: 0.5rem;
  border-color: black;
}

.form button:hover {
  color: rgb(145, 209, 209);
  background-color: rgb(59, 54, 54);
}
