.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightseagreen;
  font-weight: bold;
}
